
/*
600
768
992
1200
*/
@media only screen and (max-width: 1200px) {
    html{ font-size: 25px;}
}

@media only screen and (max-width: 1090px) {
    html{ font-size: 22px;}
    main span{font-size: 22px;}
}

@media only screen and (max-width: 992px) {
    html{font-size: 20px;}
    main span{font-size: 20px;}
}

@media only screen and (max-width: 850px) {
    html{font-size: 19px;}
    main span{font-size: 19px;}
}

@media only screen and (max-width: 820px) {
    html{font-size: 18px;}
    main span{font-size: 18px;}
}

@media only screen and (max-width: 700px) {
    html{font-size: 17px;}
    main span{font-size: 17px;}

}

@media only screen and (max-width: 640px) {
    html{font-size: 15px;}
    main span{font-size: 15px;}
}

@media only screen and (max-width: 600px) {
    html{font-size: 13px;}
    main span{font-size: 13px;}
}
