
#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    overflow: hidden;
    height: 100px;
}

#training .items{
    flex-direction: column;

}

#training .items .item{
    width: 100%;
}